<H1> Welcome to Dublin Hospital </H1>
</hr>
<head>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>

  </head>
<div class="fb-page" data-href="https://www.facebook.com/Dublin-Hospital-110082897016687/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Dublin-Hospital-110082897016687/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Dublin-Hospital-110082897016687/">Dublin Hospital</a></blockquote></div>
  <h3>Medical News Feed </h3>

  <%= form_tag "/title" do%>
  <% end %>

  </div>
